.result-text {
    background-color: chocolate;
    width: max-content;
    text-align: center;
    margin: auto;
    margin-bottom: 16px;
}

.content {
    font-weight: 600;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.button {
    padding: 8px 16px;
    border: none;
    color: white;
}