.detail-questions {
    width: var(--main-width);
    padding: 0 10px;
}

.totalQuestion {
    font-size: 20px;
    font-weight: 500;
    color: rgb(85, 84, 84);
}

.bottom-detail-question {
    padding: 20px;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    }

}

.choose-input {
    transform: scale(1.2);
    margin: 0 10px 0 20px;
}

.label-questions {
    font-weight: 500;
    font-size: 18px;
    color: rgb(102, 100, 100);
}

.item-question {
    cursor: pointer;
}

.gotoTopButton {
    position: fixed;
    bottom: 250px;
    right: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background: rgb(69, 155, 170);
    border-radius: 50%;
    color: white;
    cursor: pointer;
}

@media only screen and (max-width: 480px) {
    .submit-questions {
        width: 100%;
    }

    .gotoTopButton {
        bottom: 250px;
        right: 20px;
    }

}