.image-layout {
    position: absolute;

    &.top {
        top: 0;
    }

    &.right {
        right: 0;
    }

    &.bottom {
        bottom: 0;
    }
}

@media only screen and (max-width: 480px) {
    .image-layout {
        width: 30%;
        position: relative;

        &.right {
            padding: 0px !important;
        }

        &.bottom {
            padding: 0px !important
        }
    }

    .header,
    .footer {
        display: flex;
        justify-content: space-between;
    }
}